ul.notificator {
  display: inline-block;
  float:right;
  margin: 0;
  li
  {
    position: relative;
    list-style: none;

    i
    {
      color: #fff;
    }
  }
}

#notification-counter {
  position: absolute;
  top: -2px;
  left: 25px;

  background-color: rgb(212, 78, 3);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 8px Verdana;
}

ul #notificationList
{
  li
  {
    position:relative;
    border-bottom: #dddddd 1px solid;
  }
  span
  {
    color: #989494;
    font-size: 8px;
  }

}

#notificationsBody  ul
{
  padding-left: 0;
}

#notificationContainer
{
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 70px;
  margin-left: -253px;
  width: 300px;
  z-index: 0;
  display: none;
}


#notificationContainer:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 258px;
}

#notificationTitle
{
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #f0f0f0;
  position: absolute;
  z-index: 1;
  width: 284px;
  border-bottom: 1px solid #d44e03;
  color: #d44e03;
}

#notificationsBody
{
  padding: 3px 0px 0px 0px !important;
  min-height:300px;
  max-height:300px;
  overflow: auto;
  position: relative;
  width: 100%;
}


#notificationFooter
{
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

// FOR DEMO
#cta {
  position: fixed;
  top: 30%;
  left: 45%;
  z-index: -1;
}

p {
  color: #aba3a3;
  width: 300px;
  font-size: medium;
  margin-left: 7px;
}


#cta input[type=submit],button {
  border: 2px solid;
  border-radius: 25px;
  color: #d44e03;
  background-color: #ffffff;
  font-size:medium;
  height: 50px;
  width: 200px;
  box-shadow: 10px 10px 5px #888888;
}

#cta input[type=submit]:hover {
  background-color: #d44e03;
  color: #ffffff;
}